ol.legend-list{
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 1em;

    .color{
        display: inline-block;
        height: 1.3em;
        width: 1.3em;

        vertical-align: middle;
    }
    
    a{
        text-decoration: underline;
    }
}