@import 'gironde-vars';

$circle-radius : 38em;


.appetizer{
    width: 58.3%;
    
    padding: 2em;
    margin: 10em 0;

    background-color: white;
    box-shadow: 0 0 2px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    z-index: 2;

    &:first-of-type{
        margin: 4em 0;
    }

    &:nth-child(odd){
        align-self: flex-start;
    }
    &:nth-child(even){
        align-self: flex-end;
    }

    h1{
        align-self: flex-start;
        width: 100%;
    }

    p{
        line-height: 1.8em;
        max-width: 80%;
    }


    &.total-appetizer{
        border: 1.5em solid white;
        margin: 0;
        width: $circle-radius;
        height: $circle-radius;
        border-radius: 50%;

        position: relative;
        left: 10%; /* % relative to parent width */    
        transform: translateY(-25%); /* % relative to element height */

        background-color: #EDEDED;
        box-shadow: 0 0 0;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center; 

        color: #4A4A4A;

        h1{
            font-size: 1.5em;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            align-self: auto;

            width: 80%;

            margin: 0;

            .number{
                font-size: 5.5em;
                color: $gironde-green;
                letter-spacing: -10px;

                .after-comma{
                    font-size: 0.6em;
                }
            }

            .text{
                width: 50%;
                text-align: center;
                text-transform: uppercase;
            }

        }

        hr{
            width: 80%;
            border-color: rgb(45, 45, 45);

            margin: 0.7em;
        }

        .markdown-rendered{
            max-width: 80%;
        }

        p{
            line-height: 1.8em;
            max-width: 100%;
        }

        a{
            align-self: center;
        }
    }

}


.appetizer{
    .info{
        display: flex;
        flex-direction: row;

        .number{
            padding-right: 1em;
            border-right: 0.5em solid #D7D7D7;
            text-align: right;
            

            .main, .secundary{
                white-space: nowrap;
                font-weight: bold;
            }

            .main{
                font-size: 3em;
                color: $gironde-green;
            }
            .secundary{
                font-size: 1.5em;
                text-transform: uppercase; 
            }
        }

        p{
            padding-left: 1em;
        }
    }

    a{
        align-self: flex-end;
    }

} 
