@import 'gironde-vars';

$circle-radius : 38em;


.appetizer{
    width: 100%;
    
    margin: 1em 0;
    border: 1px solid $discrete-grey;
    padding: 0.4em;

    @media screen and (min-width: $home-layout-breakpoint) {
        width: 58.3%;
        margin: 10em 0;
        padding: 2em;
        border: 0;

        box-shadow: 0 0 2px black;

        p{
            line-height: 1.8em;
        }
    }

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    z-index: 2;

    &:nth-child(odd){
        align-self: flex-start;
    }
    &:nth-child(even){
        align-self: flex-end;
    }

    h1{
        align-self: flex-start;
        width: 100%;
    }


    &.total-appetizer{
        margin: 1em 0;

        @media screen and (min-width: $home-layout-breakpoint) {            
            width: $circle-radius;
            height: $circle-radius;    
            position: relative;
            left: 10%; /* % relative to parent width */    
            transform: translateY(-25%); /* % relative to element height */
        
            border-radius: 50%;
            border: 1.5em solid white;   
            
            text-align: center; 
        }

        background-color: #EDEDED;
        box-shadow: 0 0 0;


        display: flex;
        flex-direction: column;
        align-items: center; 

        color: #4A4A4A;

        h1{
            font-size: 1.5em;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            align-self: auto;

            width: 80%;

            margin: 0;

            .number{
                font-size: 5.5em;
                color: $gironde-green;
                letter-spacing: -10px;

                .after-comma{
                    font-size: 0.6em;
                }
            }

            .text{
                width: 50%;
                text-align: center;
                text-transform: uppercase;
            }

        }

        hr{
            width: 80%;
            border-color: rgb(45, 45, 45);

            margin: 0.7em;
        }

        .markdown-rendered{
            max-width: 80%;
        }

        p{
            line-height: 1.8em;
            max-width: 100%;
        }

        a{
            align-self: center;
        }
    }

}


.appetizer{
    .info{
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $home-layout-breakpoint) {
            flex-direction: row;

            // seriously no clue why this works, but the rendering is the expected one all targeted browsers (including IE11)
            .number{
                width: 45%;
            }
            .markdown-rendered{
                width: 60%;
            }
        }

        .number{
            text-align: right;
            
            border: 0;
            border-color: #D7D7D7;
            border-style: solid;
            border-bottom-width: 0.5em;  

            @media screen and (min-width: $home-layout-breakpoint) {            
                padding-right: 1em;
                border-right-width: 0.5em;  
                border-bottom-width: 0;  
            }


            .main, .secundary{
                white-space: nowrap;
                font-weight: bold;
            }

            .main{
                font-size: 3em;
                color: $gironde-green;
            }
            .secundary{
                font-size: 1.5em;
                text-transform: uppercase; 
            }
        }

        .markdown-rendered{
            padding-left: 1em;
        }




    }

    a{
        align-self: flex-end;
    }

} 
