.appetizer{
    max-width: 50%;
    
    padding: 1em;
    margin: 10em 0;

    background-color: white;
    box-shadow: 0 0 2px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-of-type{
        margin: 4em 0;
    }

    &:nth-child(even){
        align-self: flex-end;
    }
    &:nth-child(odd){
        align-self: flex-start;
    }

}


.appetizer .info{
    display: flex;
    flex-direction: row;
}

.appetizer .info .number{
    padding-right: 1em;
    border-right: 0.5em solid #D7D7D7;
}

.appetizer .info .number .main,
.appetizer .info .number .secundary{
    white-space: nowrap;
}

.appetizer .info .number .main{
    font-size: 2em;
}
.appetizer .info .number .secundary{
    font-size: 1.5em;
}
.appetizer .info p{
    padding-left: 1em;
}

.appetizer a{
    align-self: flex-end;
}

$circle-radius : 38em;

.appetizer.total-appetizer{
    border: 1.5em solid white;
    margin: 0;
    width: $circle-radius;
    height: $circle-radius;
    border-radius: 50%;

    position: relative;
    left: 10%; /* % relative to parent width */    
    transform: translateY(-25%); /* % relative to element height */

    background-color: #EDEDED;
    box-shadow: 0 0 0;

    text-align: center;

    color: #4A4A4A;
    font-size: 14px;
}


.appetizer.total-appetizer h1{
    font-size: 1.5em;
    text-transform: uppercase;
}


.appetizer.total-appetizer .total{
    font-size: 5.5em;
    letter-spacing: -10px;

}

.appetizer.total-appetizer hr{
    width: 80%;
    border-width: 1px 0 0 0;
}

.appetizer.total-appetizer p{
    line-height: 1.8em;
    max-width: 80%;
}

.appetizer.total-appetizer a{
    align-self: center;
}
