
$in-between-brick-space: 0.5em; // to be sync with variable of same name in BudgetConstructionAnimation.js

.budget-construction{

    position: relative;

    .bricks{
        height: 40em;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .brick-column{
            display: flex;
            flex-direction: column;
            
            justify-content: flex-end;
            align-items: center;
            min-width: 17em;
            margin: 0 1em;

            & > .legend{
                width: 100%;
                align-self: flex-start;

                display: flex;
                flex-direction: column;

                color: black;
                font-weight: bold;

                .money-amount{
                    color: #BBB;
                }

                .text{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    font-size: 1.5em;

                    text-transform: uppercase;

                    .unit{
                        text-transform: lowercase;
                    }
                }
            }

            $rf-color: $area-color-3;

            .rf .brick {
                background-color: $rf-color;
            }

            .df .brick {
                background-color: $area-color-2;
            }

            .ri .brick {
                background-color: $area-color-1;
            }

            .di .brick {
                background-color: $area-color-4;
            }

            .brick.epargne{ 
                background-color: $rf-color;
            }

            .parent{
                opacity: 1;
                
                background-color: transparent;
                color: transparent;

                position: relative;

                padding: 0;

                text-align: left;
                font-weight: bold;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                width: 100%;

                .brick{
                    color: white;

                    padding: 0.5em;
                    margin: 0;
                    width: 100%;

                    border-radius: 5px;

                    position: relative;

                    &:not(:first-child){
                        margin-top: $in-between-brick-space; 
                    }

                    .legend{
                        margin-top: 0.5em;

                        display: flex;
                        flex-direction: column;

                        color: white;

                        .text, .money-amount{
                            padding: 0;
                            margin: 0;
                        }

                        .text{
                            text-transform: uppercase;
                        }

                        .money-amount{
                            font-weight: normal;
                        }
                    }


                    &.appear-by-height{
                        transition-property: height;

                        padding: 0 0.5em; 
                        height: 0;
                        overflow: hidden;
                    }

                }

                .emptier{
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    height: 0;

                    z-index: 1;
                    background-color: white;
                    opacity: 0.6;
                }

            }
        }

    }

    hr{
        height: 1em;
        border: 0;
        border-radius: 5px;	
        background-color: #D8D8D8;
    }

    dl{
        display: block;

        @media screen and (min-width: $budget-construction-breakpoint) {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-direction: row;

            .column{
                width: 30%;
            }
        }

        .column{
            height: 100%;
            margin-bottom: 2em;

            color: black;
            text-decoration: none;

            display: flex;
            flex-direction: column;
            
            opacity: 0;

            transition-property: opacity;
            transition-duration: 0.2s;
        }

        dt{
            font-weight: bold;
        }

        dd{
            margin: 0;
            margin-bottom: 1em;
        }
    }


    .play{
        position: absolute;
        top: 2em;
        right: 2em;
        opacity: 1;

        text-transform: uppercase;

        transition-property: opacity;
        
        &[disabled]{
            cursor: default;
        }
    }

    .text-area{
        width: 60%;
        height: 5em;
        margin: 1em 0;
        transform: translateX(30%);

        text-align: center;
    }

    &.video{
        dl .column{
            opacity: 1;
        }

        video{
            width: 95vw;
            max-width: 100%;
        }
    }

}

.budget-construction .bricks .brick{
    animation-fill-mode: forwards;
}