@import 'color-palette';

$texts-height: 10em;

.budget-construction{

    position: relative;

    .bricks{
        height: 4*$texts-height;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .column{
            display: flex;
            flex-direction: column;
            
            justify-content: flex-end;
            align-items: center;
            width: 18%;

            .legend{
                align-self: flex-start;

                display: flex;
                flex-direction: row;

                color: black;
                font-weight: bold;

                .number{
                    font-size: 5em;
                }

                .text{

                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    padding-left: 0.3em;

                    text-transform: uppercase;

                    .unit{
                        text-transform: lowercase;
                    }
                }
            }

            

            .rf .brick {
                background-color: $area-color-1;
            }

            .df .brick {
                background-color: $area-color-2;
            }

            .ri .brick {
                background-color: $area-color-3;
            }

            .di .brick {
                background-color: $area-color-4;
            }

            .brick.epargne{ 
                background-color: gold;
            }

            .parent{
                opacity: 1;
                
                background-color: transparent;
                color: transparent;

                position: relative;

                padding: 0;

                text-align: left;
                font-weight: bold;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                width: 100%;

                .brick{
                    color: white;

                    padding: 0.5em;
                    margin: 0;
                    margin-top: 0.5em;
                    width: 100%;

                    border-radius: 5px;

                    position: relative;

                    .legend{
                        margin-top: 0.5em;

                        display: flex;
                        flex-direction: column;

                        color: white;

                        .text, .amount{
                            padding: 0;
                            margin: 0;
                        }

                        .text{
                            text-transform: uppercase;
                        }

                        .amount{
                            font-weight: normal;
                        }



                    }

                    &.appear-by-height{
                        transition-property: height;

                        padding: 0 0.5em; 
                        height: 0;
                        overflow: hidden;
                    }

                }

                .filling-container{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    height: 0;

                    color: transparent;

                    .filling{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        height: 0;

                        transition-property: height;

                        opacity: 0.2;
                        background-color: black;
                    }
                }

            }
        }

    }

    hr{
        height: 1em;
        border: 0;
        border-radius: 5px;	
        background-color: #D8D8D8;
    }

    dl{
        height: $texts-height;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .column{
            width: 30%;
            height: 100%;

            display: flex;
            flex-direction: column;
            
        }

        dt{
            font-weight: bold;
        }

        dd{
            margin: 0;
            margin-bottom: 1em;
        }

    }

    .replay{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;

        font-size: 1.2em;

        padding: 1em;

        color: white;
        background-color: #D2D2D2;

        text-transform: uppercase;

        transition-property: opacity;

    }

}

.budget-construction .bricks .brick{
    animation-fill-mode: forwards;
}