$area-color-1 : #0E7FAB;
$area-color-2 : #F8C738;
$area-color-3 : #EC3500;
$area-color-4 : #B8C30F;
$area-color-5 : #9C26B0;
$area-color-6 : #019587;
$area-color-7 : #795549;
$area-color-8 : #607C8A;
$area-color-9 : #6739B6;
$area-color-10 : #FF5521;

.area-color-1{
    background-color: $area-color-1;
    rect{
        fill: $area-color-1;
    }
}
.area-color-2{
    background-color: $area-color-2;
    rect{
        fill: $area-color-2;
    }
}
.area-color-3{
    background-color: $area-color-3;
    rect{
        fill: $area-color-3;
    }
}
.area-color-4{
    background-color: $area-color-4;
    rect{
        fill: $area-color-4;
    }
}
.area-color-5{
    background-color: $area-color-5;
    rect{
        fill: $area-color-5;
    }
}
.area-color-6{
    background-color: $area-color-6;
    rect{
        fill: $area-color-6;
    }
} 
.area-color-7{
    background-color: $area-color-7;
    rect{
        fill: $area-color-7; 
    }
}
.area-color-8{
    background-color: $area-color-8;
    rect{
        fill: $area-color-8;
    }
}
.area-color-9{
    background-color: $area-color-9;
    rect{
        fill: $area-color-9;
    }
}
.area-color-10{
    background-color: $area-color-10;
    rect{
        fill: $area-color-10;
    }
}