@import '../../shared/style/sunburst';
@import 'top-level-vars';

$expenditures-color : #F6A84E;
$revenue-color : $area-color-3;

$RX-S: 40%; 
$RX-L: 60%;

$F0-color: $area-color-1;
$F1-color: $area-color-2;
$F2-color: $area-color-3;
$F3-color: $area-color-4;
$F4-color: $area-color-5;
$F5-color: $area-color-6;
$F6-color: $area-color-7;
$F7-color: $area-color-8;
$F8-color: $area-color-9;
$F9-color: $area-color-10;


.explore-budget{
    width: 100%;
    padding: 0 0.5em;
    
    @media screen and (min-width: $main-column-breakpoint) {
        max-width: $column-max-width; 
        padding: 0 $column-padding;
    }
    

    section{
        margin-bottom: 3em;
    }

    .viz{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (min-width: $explore-masses-breakpoint) {
            flex-direction: row;
        }
        margin-bottom: 1em;

        .revenue, .expenditures{
            width: 100%;
            @media screen and (min-width: $explore-masses-breakpoint) {
                width: 50%;
            }

            margin-bottom: 2em;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > div{
                display: flex;
                flex-direction: column-reverse;
        
                @media screen and (min-width: $explore-masses-breakpoint) {
                    flex-direction: row;
                    align-items: flex-end;
                }

                .areas{
                    width: 100%;
                    height: 100%;
                    max-height: 60vh;
        
                    @media screen and (min-width: $explore-masses-breakpoint) {
                        width: 50%;
                    }

                    display: flex;
                    flex-direction: column;

                    &> *{
                        margin-top: 0.5em;
                        min-height: 4em;
                        border-radius: 0.5em;
                    }

                    h2, .money-amount{
                        color: white;
                        margin-left: 0.5em;
                        padding: 0;
                    }

                    h2{
                        font-size: 1em;
                        margin-top: 0.5em;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .money-amount{
                        font-size: 1em;
                        text-transform: none;
                        font-weight: normal;

                        @media screen and (min-width: $explore-masses-breakpoint) {
                            font-size: 0.9em;
                        }
                    }
                    
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    color: black;
                    
                    .money-amount{
                        font-weight: bold;
                        font-size: 2em; 
                    }

                    @media screen and (min-width: $explore-masses-breakpoint) {
                        height: 100%;
                        padding: 0 1em;

                        .money-amount{
                            font-size: 3em; 
                        }
                    }
                }
            }
        }

        h1{
            font-size: 1.6em;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;

            @media screen and (min-width: $explore-masses-breakpoint) {
                color: black;
                text-decoration: none;

                &:hover{
                    color: black;
                }
            }
        }

        & > *{
            text-decoration: none;
        }

        .rf{
            background-color: $revenue-color;
        }

        .ri{
            background-color: lighten($revenue-color, 20%);
        }

        .df{
            background-color: $expenditures-color;
        }

        .di{
            background-color: #F8C738;
        }

        .btn{
            display: none;

            @media screen and (min-width: $explore-masses-breakpoint) {
                display: block;
            }
        }
    }


    .m52-by-fonction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        @media screen and (min-width: $explore-masses-breakpoint) {
            flex-direction: row;
        }

        & > :first-child{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: 2;

            .sunburst .slice{
                cursor: pointer;
            }

        }

        & > :nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;
        }

        .display-choice{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: 1em 0 2em 0;

            .radio{
                margin-left: 0.5em;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                button{
                    padding: 0.5em;
                    border: 1px solid #AAA;

                    &.selected{
                        background-color: $area-color-1;
                    }
                }
            }
        }

        .M52-DF-0 path,
        .M52-DI-0 path{
            fill: $F0-color;
        }
        .M52-DF-1 path,
        .M52-DI-1 path{
            fill: $F1-color;
        }
        .M52-DF-2 path,
        .M52-DI-2 path{
            fill: $F2-color;
        }
        .M52-DF-3 path,
        .M52-DI-3 path{
            fill: $F3-color;
        }
        .M52-DF-4 path,
        .M52-DI-4 path{
            fill: $F4-color;
        }
        .M52-DF-5 path,
        .M52-DI-5 path{
            fill: $F5-color;
        }
        .M52-DF-6 path,
        .M52-DI-6 path{
            fill: $F6-color;
        }
        .M52-DF-7 path,
        .M52-DI-7 path{
            fill: $F7-color;
        }
        .M52-DF-8 path,
        .M52-DI-8 path{
            fill: $F8-color;
        }
        .M52-DF-9 path,
        .M52-DI-9 path{
            fill: $F9-color;
        }
 
        .legend-list .color{
            &.M52-DF-0,
            &.M52-DI-0{
                background-color: $F0-color;
            }
            &.M52-DF-1,
            &.M52-DI-1{
                background-color: $F1-color;
            }
            &.M52-DF-2,
            &.M52-DI-2{
                background-color: $F2-color;
            }
            &.M52-DF-3,
            &.M52-DI-3{
                background-color: $F3-color;
            }
            &.M52-DF-4,
            &.M52-DI-4{
                background-color: $F4-color;
            }
            &.M52-DF-5,
            &.M52-DI-5{
                background-color: $F5-color;
            }
            &.M52-DF-6,
            &.M52-DI-6{
                background-color: $F6-color;
            }
            &.M52-DF-7,
            &.M52-DI-7{
                background-color: $F7-color;
            }
            &.M52-DF-8,
            &.M52-DI-8{
                background-color: $F8-color;
            }
            &.M52-DF-9,
            &.M52-DI-9{
                background-color: $F9-color;
            }
        } 
    }
}
