@import '../../shared/style/sunburst';

$expenditures-color : #F35D32;
$revenue-color : #68B0CD;

$RX-S: 40%;
$RX-L: 60%;

$R0-color: hsl(360*0/10, $RX-S, $RX-L);
$R1-color: hsl(360*1/10, $RX-S, $RX-L);
$R2-color: hsl(360*2/10, $RX-S, $RX-L);
$R3-color: hsl(360*3/10, $RX-S, $RX-L);
$R4-color: hsl(360*4/10, $RX-S, $RX-L);
$R5-color: hsl(360*5/10, $RX-S, $RX-L);
$R6-color: hsl(360*6/10, $RX-S, $RX-L);
$R7-color: hsl(360*7/10, $RX-S, $RX-L);
$R8-color: hsl(360*8/10, $RX-S, $RX-L);
$R9-color: hsl(360*9/10, $RX-S, $RX-L);

.explore-budget{
    section{
        margin-bottom: 3em;
    }

    .viz{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        > *{
            width: 30%;
        }

        h1{
            font-size: 2em;
            text-align: center;
        }

        a{
            color: black;
            text-decoration: none;

            .rf, .ri, .df, .di{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .expenditures, .revenue{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 60vh;

        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .rf{
        background-color: $revenue-color;
    }

    .ri{
        background-color: lighten($revenue-color, 20%);
    }

    .df{
        background-color: $expenditures-color;
    }

    .di{
        background-color: lighten($expenditures-color, 20%);
    }

    .m52-by-fonction{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > :first-child{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: 2;
        }

        & > *{
            flex: 1;
        }

        .M52-DF-R0 path,
        .M52-DI-R0 path{
            fill: $R0-color;
        }
        .M52-DF-R1 path,
        .M52-DI-R1 path{
            fill: $R1-color;
        }
        .M52-DF-R2 path,
        .M52-DI-R2 path{
            fill: $R2-color;
        }
        .M52-DF-R3 path,
        .M52-DI-R3 path{
            fill: $R3-color;
        }
        .M52-DF-R4 path,
        .M52-DI-R4 path{
            fill: $R4-color;
        }
        .M52-DF-R5 path,
        .M52-DI-R5 path{
            fill: $R5-color;
        }
        .M52-DF-R6 path,
        .M52-DI-R6 path{
            fill: $R6-color;
        }
        .M52-DF-R7 path,
        .M52-DI-R7 path{
            fill: $R7-color;
        }
        .M52-DF-R8 path,
        .M52-DI-R8 path{
            fill: $R8-color;
        }
        .M52-DF-R9 path,
        .M52-DI-R9 path{
            fill: $R9-color;
        }
 
        .legend{
            .color{
                display: inline-block;
                height: 2em;
                width: 2em;

                &.M52-DF-R0,
                &.M52-DI-R0{
                    background-color: $R0-color;
                }
                &.M52-DF-R1,
                &.M52-DI-R1{
                    background-color: $R1-color;
                }
                &.M52-DF-R2,
                &.M52-DI-R2{
                    background-color: $R2-color;
                }
                &.M52-DF-R3,
                &.M52-DI-R3{
                    background-color: $R3-color;
                }
                &.M52-DF-R4,
                &.M52-DI-R4{
                    background-color: $R4-color;
                }
                &.M52-DF-R5,
                &.M52-DI-R5{
                    background-color: $R5-color;
                }
                &.M52-DF-R6,
                &.M52-DI-R6{
                    background-color: $R6-color;
                }
                &.M52-DF-R7,
                &.M52-DI-R7{
                    background-color: $R7-color;
                }
                &.M52-DF-R8,
                &.M52-DI-R8{
                    background-color: $R8-color;
                }
                &.M52-DF-R9,
                &.M52-DI-R9{
                    background-color: $R9-color;
                }
            }
        }



    }


}
