@import '../../shared/style/sunburst';
@import 'top-level-vars';

$expenditures-color : #F6A84E;
$revenue-color : $area-color-3;

$RX-S: 40%; 
$RX-L: 60%;

$R0-color: $area-color-1;
$R1-color: $area-color-2;
$R2-color: $area-color-3;
$R3-color: $area-color-4;
$R4-color: $area-color-5;
$R5-color: $area-color-6;
$R6-color: $area-color-7;
$R7-color: $area-color-8;
$R8-color: $area-color-9;
$R9-color: $area-color-10;


.explore-budget{
    width: 100%;
    padding: 0 0.5em;
    
    @media screen and (min-width: $main-column-breakpoint) {
        max-width: $column-max-width; 
        padding: 0 $column-padding;
    }
    

    section{
        margin-bottom: 3em;
    }

    .viz{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (min-width: $explore-masses-breakpoint) {
            flex-direction: row;
        }
        margin-bottom: 1em;

        .revenue, .expenditures{
            width: 100%;
            @media screen and (min-width: $explore-masses-breakpoint) {
                width: 50%;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > div{
                display: flex;
                flex-direction: column-reverse;
        
                @media screen and (min-width: $explore-masses-breakpoint) {
                    flex-direction: row;
                    align-items: flex-end;
                }

                .areas{
                    width: 100%;
                    height: 100%;
        
                    @media screen and (min-width: $explore-masses-breakpoint) {
                        width: 50%;
                    }
                    

                    display: flex;
                    flex-direction: column;

                    &> *{
                        margin-top: 0.5em;
                        min-height: 4em;
                        border-radius: 0.5em;
                    }

                    h2, .money-amount{
                        color: white;
                        margin-left: 0.5em;
                        padding: 0;
                    }

                    h2{
                        font-size: 1em;
                        margin-top: 0.5em;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .money-amount{
                        font-size: 0.9em;
                        text-transform: none;
                        font-weight: normal;
                    }
                }

                .texts {
                    @media screen and (min-width: $explore-masses-breakpoint) {
                        height: 100%;
                    }

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0 1em;

                    color: black;
                    
                    .money-amount{
                        font-weight: bold;
                        font-size: 3em; 
                    }
                }
            }
        }

        h1{
            font-size: 1.6em;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
        }

        & > *{
            text-decoration: none;
        }

        .rf{
            background-color: $revenue-color;
        }

        .ri{
            background-color: lighten($revenue-color, 20%);
        }

        .df{
            background-color: $expenditures-color;
        }

        .di{
            background-color: #F8C738;
        }
    }


    .m52-by-fonction{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        & > :first-child{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: 2;

            .sunburst .slice{
                cursor: pointer;
            }

        }

        & > :nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;
        }

        .display-choice{
            display: flex;
            flex-direction: row;
            align-items: center;

            .radio{
                margin-left: 0.5em;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                button{
                    padding: 0.5em;
                    border: 1px solid #AAA;

                    &.selected{
                        background-color: $area-color-1;
                    }
                }
            }
        }

        .M52-DF-R0 path,
        .M52-DI-R0 path{
            fill: $R0-color;
        }
        .M52-DF-R1 path,
        .M52-DI-R1 path{
            fill: $R1-color;
        }
        .M52-DF-R2 path,
        .M52-DI-R2 path{
            fill: $R2-color;
        }
        .M52-DF-R3 path,
        .M52-DI-R3 path{
            fill: $R3-color;
        }
        .M52-DF-R4 path,
        .M52-DI-R4 path{
            fill: $R4-color;
        }
        .M52-DF-R5 path,
        .M52-DI-R5 path{
            fill: $R5-color;
        }
        .M52-DF-R6 path,
        .M52-DI-R6 path{
            fill: $R6-color;
        }
        .M52-DF-R7 path,
        .M52-DI-R7 path{
            fill: $R7-color;
        }
        .M52-DF-R8 path,
        .M52-DI-R8 path{
            fill: $R8-color;
        }
        .M52-DF-R9 path,
        .M52-DI-R9 path{
            fill: $R9-color;
        }
 
        .legend-list .color{
            &.M52-DF-R0,
            &.M52-DI-R0{
                background-color: $R0-color;
            }
            &.M52-DF-R1,
            &.M52-DI-R1{
                background-color: $R1-color;
            }
            &.M52-DF-R2,
            &.M52-DI-R2{
                background-color: $R2-color;
            }
            &.M52-DF-R3,
            &.M52-DI-R3{
                background-color: $R3-color;
            }
            &.M52-DF-R4,
            &.M52-DI-R4{
                background-color: $R4-color;
            }
            &.M52-DF-R5,
            &.M52-DI-R5{
                background-color: $R5-color;
            }
            &.M52-DF-R6,
            &.M52-DI-R6{
                background-color: $R6-color;
            }
            &.M52-DF-R7,
            &.M52-DI-R7{
                background-color: $R7-color;
            }
            &.M52-DF-R8,
            &.M52-DI-R8{
                background-color: $R8-color;
            }
            &.M52-DF-R9,
            &.M52-DI-R9{
                background-color: $R9-color;
            }
        } 
    }
}
