@import '../../shared/style/legend-list'; 

@import 'finance-element-context'; 

$partition-part-width: 12em;

.finance-element{

    width: 100%;
    padding: 0 0.5em;

    @media screen and (min-width: $main-column-breakpoint) {
        padding: 0 $column-padding;
        max-width: $column-max-width;
    }

    &>section{
        margin-bottom: 5em;
    }

    .top-infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    h2{
        clear: both;
    }

    .stackchart{
        display: flex;
        flex-direction: column;

        .over-time{
            flex: 2;
        }

        .legend-list{
            flex: 1;
            margin-bottom: 2em;
        }


        @media screen and (min-width: $stackchart-medium-breakpoint) {
            align-items: flex-start;
        } 

        @media screen and (min-width: $stackchart-large-breakpoint) {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        } 
    }

    .atemporal, .temporal{
        ul{
            list-style: disc;
            list-style-position: inside;

            li p{
                display: inline;
            }
        }
    }

    .atemporal p{
        margin-top: 0;
    }

    .temporal{
        margin-top: 2em;    
    }

    .raw-data{
        table {
            thead, tbody{
                tr > :nth-child(3){
                    text-align: right; 
                }
            }
        }
    }

}
