@import '../../shared/style/legend-list'; 

@import 'finance-element-pie'; 

$partition-part-width: 12em;

.finance-element{

    width: 100%;
    padding: 0 0.5em;

    @media screen and (min-width: $main-column-breakpoint) {
        padding: 0 $column-padding;
        max-width: $column-max-width;
    }

    &>section{
        margin-bottom: 5em;
    }

    .top-infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        svg{
            flex:1;

            circle, path{
                stroke: white;
                stroke-width: 3px;   
            }
        } 

        & > :nth-child(2){
            padding: 0 1em;
            flex: 2;
        }
    }

    h2{
        clear: both;
    }

    .atemporal, .temporal{
        ul{
            list-style: disc;
            list-style-position: inside;

            li p{
                display: inline;
            }
        }
    }

    .atemporal p{
        margin-top: 0;
    }

    .temporal{
        margin-top: 2em;    
    }

    .raw-data{
        table {
            thead, tbody{
                tr > :nth-child(3){
                    text-align: right; 
                }
            }
        }
    }

}
