@import './finance-element-pie'; 
@import 'top-level-vars';

$partition-part-width: 6em;
$part-font-size : 1.2em;

.finance-element{

    width: 100%;
    max-width: $column-max-width; 
    padding: 0 $column-padding;

    &>section{
        margin-bottom: 5em;
    }


    .ratios{
        width: 30%;
        float: left;
        margin-right: 1em;


        .proportion-container{
            width: 100%;
            height: 2em;
            background-color: lightgrey;

            color: white;
            text-shadow: 0 0 2px black; 

            .proportion{
                height: 100%;
                background-color: darkslategrey;

                white-space: nowrap;
            }
        }
    }

    h2{
        clear: both;
    }

    .atemporal{
        p{
            margin-top: 0;
        }
    }

    .temporal{
        margin-top: 2em;    
    }

    .over-time {
        .content{

            text{
                font-size: 1.2em;
                font-weight: bold;
                paint-order: stroke;
                stroke: #fff;
                stroke-width: 2px;
            }
        }

    }

    .legend{
        ol{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .color{
            display: inline-block;
            height: 2em;
            width: 2em;
        }
    }

    .partition{

        a{
            display: flex;
            flex-direction: row;

            color: black;
            text-decoration: none;

            min-height: 10em;

            &:hover{
                background-color: lightgrey;
            }

            .part{
                background-color: cadetblue;
                color: white;
                font-size: $part-font-size;
                font-weight: bold;
                
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                
                padding: 0.2em;

                width: $partition-part-width;
                z-index: 1; // atop the a::before
            }

            .text{
                margin-left: 2em;
                overflow: hidden;
                text-overflow: ellipsis;

                padding-bottom: 1em;

                flex: 1;                                                                                                                                                                                                            
                h1{
                    font-size: 2em; 
                }              

                a{
                    text-decoration: underline;
                }  
            }

            &:not(:last-child)::before{
                content: '';
                font-size: $part-font-size;
                transform: translateX($partition-part-width/2);
                border-left: 1px solid black;
                height: 100%;
                width: 0;
            }

        } 

    } 

}
