@import './finance-element-pie';

$partition-part-width: 6em;
$part-font-size : 1.2em;

.finance-element{
    
    &>section{
        margin-bottom: 5em;
    }


    .ratios{
        width: 30%;
        float: left;
        margin-right: 1em;


        .proportion-container{
            width: 100%;
            height: 2em;
            background-color: lightgrey;

            color: white;
            text-shadow: 0 0 2px black; 

            .proportion{
                height: 100%;
                background-color: darkslategrey;

                white-space: nowrap;
            }
        }
    }

    h2{
        clear: both;
    }

    .atemporal{
        p{
            margin-top: 0;
        }
    }

    .over-time {
        .content{
            rect{
                fill: cornflowerblue;
            }

            text{
                font-size: 1.2em;
                font-weight: bold;
            }
        }

    }


    .partition{

        a{
            display: flex;
            flex-direction: row;

            color: black;
            text-decoration: none;

            min-height: 10em;

            &:hover{
                background-color: lightgrey;
            }

            .part{
                background-color: cadetblue;
                color: white;
                font-size: $part-font-size;
                font-weight: bold;
                
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                
                padding: 0.2em;

                width: $partition-part-width;
                z-index: 1; // atop the a::before
            }

            .text{
                margin-left: 2em;
                overflow: hidden;
                text-overflow: ellipsis;

                padding-bottom: 1em;

                flex: 1;                                                                                                                                                                                                            

                h1{
                    font-size: 1.1em;
                }                
            }

            &:not(:last-child)::before{
                content: '';
                font-size: $part-font-size;
                transform: translateX($partition-part-width/2);
                border-left: 1px solid black;
                height: 100%;
                width: 0;
            }

        } 

    } 

}
