@import '../../shared/style/legend-list'; 
@import '../../shared/style/stackchart'; 

@import 'top-level-vars';
@import 'finance-element-pie'; 

$partition-part-width: 12em;

.finance-element{

    width: 100%;
    max-width: $column-max-width; 
    padding: 0 $column-padding;

    &>section{
        margin-bottom: 5em;
    }

    .top-infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        

        svg{
            flex:1;

            circle, path{
                stroke: white;
                stroke-width: 3px;   
            }
        } 

        & > :nth-child(2){
            flex: 2;
        }
    }

    h2{
        clear: both;
    }

    .atemporal, .temporal{
        ul{
            list-style: disc;
            list-style-position: inside;
        }
    }

    .atemporal p{
        margin-top: 0;
    }

    .temporal{
        margin-top: 2em;    
    }

    .partition{

        & > a{
            display: flex;
            flex-direction: row;

            color: black;
            text-decoration: none;

            min-height: 10em;

            .part{
                color: white;
                font-weight: bold;
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                padding: 0.5em;

                border: 2px solid white;

                width: $partition-part-width;
                min-height: 2.5em;

                z-index: 1; // atop the a::before
            }

            .text{
                margin-left: 2em;
                overflow: hidden;
                text-overflow: ellipsis;

                padding-bottom: 1em;

                flex: 1;                                                                                                 

                h1{
                    font-size: 2em; 
                } 
            }

            &:not(:last-child)::before{
                content: '';
                transform: translateX($partition-part-width/2);
                border-left: 4px solid #D8D8D8;
                height: 100%;
                width: 0;
            }

        } 

    } 

}
