@import '../../shared/style/d3-axis';

@import './focus-detail';

$apa-color : #F35D32;
$pch-actp-color : #F8C738;
$rsa-color : #B8C30F;
$hebergement-color : #68B0CD;
$solidarity-other-color : purple;


.solidarity-by-year{

    svg{
        .d3-axis.x{

            .tick{

                line{
                    stroke: grey;
                    stroke-width: 1px;
                }
                text{
                    fill: grey;
                }

            }

        }

        .d3-axis.y{

            .tick{

                line{
                    stroke: #AAA;
                    stroke-width: 1px;
                }
                text{
                    fill: #AAA;
                }

            }

        }


        .content{

            .column{

                rect{
                    fill: transparent;
                    stroke: grey;
                    stroke-width: 0;
                } 

                .DF-1-1 rect{
                    fill: $hebergement-color;
                }

                .DF-1-2 rect{
                    fill: $rsa-color;
                }

                .DF-1-3 rect{
                    fill: $pch-actp-color;
                }

                .DF-1-4 rect{
                    fill: $apa-color;
                }

                .DF-1-other rect{
                    fill: $solidarity-other-color;
                }

                text{
                    fill: white;
                }

            }

        }

    }

}



.focus-detail.insertion .explanation .proportion{
    background-color: #F35D32;
}

.focus-detail.handicap .explanation .proportion{
    background-color: #F8C738;
}

.focus-detail.elderly .explanation .proportion{
    background-color: #B8C30F;
}

.focus-detail.childhood .explanation .proportion{
    background-color: #68B0CD;
}