$focus-neutral-color: #F0F0F0;

$base-spacing: 0.8rem;
$spacing-1: $base-spacing;
$spacing-2: $base-spacing*2;
$spacing-3: $base-spacing*4;


.focus-detail{

    display: flex;
    flex-direction: row;

    margin: $spacing-3 0;

    .illustration{
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        margin-right: 1em;

        img{
            border-radius: 50%;
            object-fit: cover;
            margin-top: 2*$spacing-2;
        }
    }

    .explanation{
        flex: 4;

        & > *{
            display: block;
            margin: $spacing-2 0;

            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }

        & > a.btn{
            width: 15em;
        }

        h3{
            font-size: 1.6em;
            text-transform: uppercase;
        }

        .proportion-container{
            width: 100%;
            height: 2em;
            background-color: $focus-neutral-color;

            .proportion{
                height: 100%;

                color: white;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0.1em 1em ;
            }
        }

        .highlights{
            display: flex;
            flex-direction: row;

            text-align: center;

            &> *{
                flex: 1;
                background-color: $focus-neutral-color;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                padding: 1em;

                &:not(:first-child){
                    margin-left: $spacing-1;
                }

                strong, span{
                    display: block;
                }

                strong{
                    font-size: 1.5em;
                }
            }
        }
    }

}