@import '../../shared/style/d3-axis';

$apa-color : #F35D32;
$pch-actp-color : #F8C738;
$rsa-color : #B8C30F;
$hebergement-color : #68B0CD;
$solidarity-other-color : #c564a9;

$focus-highlight-color : #F62727;

@import './focus-detail';
@import './focus-donut';


.top-infos{
    display: flex;
    flex-direction: row;

    & > *{
        flex:1;
    }

    .people-fraction{
        background-image: url(../images/bonhomme.svg);
        background-size: contain;

        position: relative;

        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: bold;

        & > *{
            position: absolute;
            left: 50%;
            width: 50%;
            transform: translateY(50%);
        }

        .number{
            font-size: 4em;
            color: $focus-highlight-color;
        }

    }

}



.solidarity-by-year{

    svg{
        .d3-axis.x{
            .tick{
                line{
                    stroke: grey;
                    stroke-width: 1px;
                }
                text{
                    fill: grey;
                }
            }
        }

        .d3-axis.y{
            .tick{
                line{
                    stroke: #AAA;
                    stroke-width: 1px;
                }
                text{
                    fill: #AAA;
                }
            }
        }

        .content{

            .column{

                rect{
                    fill: transparent;
                    stroke: grey;
                    stroke-width: 0;
                } 

                .DF-1-1 rect{
                    fill: $hebergement-color;
                }
                .DF-1-2 rect{
                    fill: $rsa-color;
                }
                .DF-1-3 rect{
                    fill: $pch-actp-color;
                }
                .DF-1-4 rect{
                    fill: $apa-color;
                }
                .DF-1-other rect{
                    fill: $solidarity-other-color;
                }

                text{
                    fill: white;
                    font-weight: bold;
                }
                text.total{
                    fill: black;
                    font-size: 1.6em;
                    font-weight: bold;
                }
            }
        }
    }

    .legend{
        .color{
            display: inline-block;
            width: 1em;
            height: 1em;
        }

        .DF-1-1 .color{
            background-color: $hebergement-color;
        }
        .DF-1-2 .color{
            background-color: $rsa-color;
        }
        .DF-1-3 .color{
            background-color: $pch-actp-color;
        }
        .DF-1-4 .color{
            background-color: $apa-color;
        }
        .DF-1-other .color{
            background-color: $solidarity-other-color;
        }
    }
}



.focus-detail.insertion .explanation .proportion{
    background-color: #F35D32;
}

.focus-detail.handicap .explanation .proportion{
    background-color: #F8C738;
}

.focus-detail.elderly .explanation .proportion{
    background-color: #B8C30F;
}

.focus-detail.childhood .explanation .proportion{
    background-color: #68B0CD;
}