@import 'appetizers';

@import 'budget-construction';

.home{
    display: flex;
    flex-direction: column;

    & > section{
        display: flex;
        flex-direction: column;
    }

    .appetizers{
        background: url(../images/map-optimised.jpg), transparent;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 9em;

        min-height: 2470px;
    }
}
