@import 'appetizers';

@import 'budget-construction';

.home{
    display: flex;
    flex-direction: column;

    & > section{
        display: flex;
        flex-direction: column;
    }

    .appetizers{
        background-color: #A5D326;
        margin-top: 5em;
    }
}
