@import 'env-vars';
@import 'top-level';

@import 'color-palette'; 

@import '../../shared/style/placeholder';



@import 'home';
@import 'finance-element';
@import 'explore-budget';
@import 'focus-solidarity';
@import 'focus-investments';

// Specific to gironde.fr

.breadcrumb, #block-gironde-fr-local-tasks{
    max-width: 1280px;
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
}