$GIRONDE_FR_DRUPAL_MEDIA_ID: '2459';

$home-illustration-url: '/media/#{$GIRONDE_FR_DRUPAL_MEDIA_ID}/field_dataviz_image/0';
$bonhomme-url: '/media/#{$GIRONDE_FR_DRUPAL_MEDIA_ID}/field_dataviz_files/1';

@import 'main';