html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
}

.cd33-finance-dataviz{
    width: 80vw; 
    font-family: 'Roboto', sans-serif;

    padding-bottom: 40vh;

    & > *{
        width: 100%;
    }

    h1, h2, h3{
        margin: 0.2em 0;
    }

    h1{
        font-size: 4em;
    }
}