@import 'top-level-vars';

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
}


.cd33-finance-dataviz{
    width: 100%; 
    font-family: 'Roboto', sans-serif;

    padding-bottom: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2, h3{
        margin: 0.2em 0;
    }

    p{
        max-width: 60em;
    }

}
