.total-budget{
    .viz{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        > *{
            width: 30%;
        }

        h1{
            font-size: 2em;
            text-align: center;
        }

        a{
            color: black;
            text-decoration: none;

            .rf, .ri, .df, .di{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
    }

    section{
        margin-bottom: 3em;
    }
}


.total-budget .expenditures,
.total-budget .revenue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
}


.total-budget .expenditures a,
.total-budget .revenue a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

$expenditures-color : #F35D32;
$revenue-color : #68B0CD;

.total-budget .rf{
    background-color: $revenue-color;
}

.total-budget .ri{
    background-color: lighten($revenue-color, 20%);
}

.total-budget .df{
    background-color: $expenditures-color;
}

.total-budget .di{
    background-color: lighten($expenditures-color, 20%);
}