.finance-element{}

.finance-element .partition{
} 

.finance-element .partition a:hover{
    background-color: lightgrey;
} 

.finance-element .partition a{
    display: block;
    color: black;
    background-color: moccasin;
    text-decoration: none;

    padding: 0.5em;
    margin: 0.5em 0;
} 
