.home{
    display: flex;
    flex-direction: column;
}

.home > section{
    display: flex;
    flex-direction: column;
}



.home .total-budget{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.home .total-budget{
    width: 100%;
}
.home .total-budget a{
    width: 40%;
    padding: 1em;
    background-color: lightskyblue;
    text-align: center;
}


.home ul.focuses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.home .focuses li{
    height: 7em;
    background-color: paleturquoise;
    
    padding: 1em;
    min-width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}